{% extends 'base.html.twig' %}

{% block title %}Menu index{% endblock %}

{% block PageContent %}
    <h1>Menu index</h1>


<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Table</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                        <tr>

                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Boissons</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Plats</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cafee</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Restauration</th>

                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>

                            <th class="text-secondary opacity-7"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for menu in menus %}
                        <tr>

                            <td>
                            {% for groups in menu.boissons %}

                                <li>{{ groups.name }}</li>

                            {% endfor %}

                          </td>
                            <td>
                                {% for groups in menu.plat %}

                                    <li>{{ groups.name }}</li>

                                {% endfor %}

                            </td>
                            <td>
                                {% for groups in menu.cafe %}

                                    <li>{{ groups.name }}</li>

                                {% endfor %}

                            </td>
                            <td>
                                {{ menu.restauration.nom }}



                            </td>




                            <td class="align-middle text-center text-sm">
                                <span class="badge badge-sm bg-gradient-success">
<a href="{{ path('menu_show', {'id': menu.id}) }}">show</a>
                                </span>
                                <span class="badge badge-sm bg-gradient-success">

                    <a href="{{ path('menu_edit', {'id': menu.id}) }}">edit</a>
                                </span>
                            </td>

                        </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">no records found</td>
                            </tr>
                        {% endfor %}
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>{% endblock %}