{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block PageContent %}
    <h1>Menu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ menu.id }}</td>
            </tr>
            <tr>
                <th>Boissons</th>
                <td>        {% for groups in menu.boissons %}

                        <li>{{ groups.name }}</li>

                    {% endfor %}</td>
            </tr>
            <tr>
                <th>Plats</th>
                <td>
                    {% for groups in menu.plat %}

                        <li>{{ groups.name }}</li>

                    {% endfor %}

                </td>
            </tr>
            <tr>
                <th>Cafee</th>
                <td>
                    {% for groups in menu.cafe %}

                        <li>{{ groups.name }}</li>

                    {% endfor %}

                </td>
            </tr>
        <tr>
            <th>Restauration</th>
            <td>
                {{ menu.restauration.nom }}



            </td></tr>
        </tbody>
    </table>

    <a href="{{ path('menu_index') }}">back to list</a>

    <a href="{{ path('menu_edit', {'id': menu.id}) }}">edit</a>

    {{ include('menu/_delete_form.html.twig') }}
{% endblock %}
